.header.nav-inline-logo--true {
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding: 8px 0;
  border-bottom: none; }
  .header.nav-inline-logo--true .main-nav-wrapper {
    z-index: 999; }
  .header.nav-inline-logo--true .logo {
    max-width: 272px; }
  .header.nav-inline-logo--true .logo img {
    max-height: 56px;
    height: 56px; }

.header-section .cart-container svg g, .header-section .cart-container svg path {
  fill: rgba(255, 255, 255, 0.8); }

.section .container .row h2.h4 {
  color: #435679;
  letter-spacing: -4px;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0; }

.section[data-id="featured_collection-Zq2hp"] .container .row h2.h4 {
  color: #49D8F3;
  text-shadow: 3px 3px rgba(0, 53, 227, 0.3); }

.featured-collection--heading {
  margin-bottom: 16px; }

.currency-language {
  vertical-align: middle; }
  .currency-language_action {
    background-color: #0d132f;
    color: #435679;
    vertical-align: top;
    font-size: 10px;
    font-weight: bold;
    line-height: 24px;
    padding-top: 0;
    padding-bottom: 0; }
    .currency-language_action svg {
      width: 12px; }
    .currency-language_action path {
      fill: #435679; }

.media-gallery-carousel__slide-image,
.media-gallery-carousel .thumbnail-carousel .thumbnail-carousel-slide img {
  background-color: #98d7da; }

.footer-section .container {
  position: relative;
  text-align: center; }
  .footer-section .container a, .footer-section .container p {
    color: #8D9DBB;
    font-size: 10px; }
  .footer-section .container .footer_content {
    border-top: 1px solid rgba(67, 86, 121, 0.2);
    padding-top: 32px; }
  .footer-section .container .row:not(:first-child) {
    display: inline-block;
    width: unset;
    white-space: nowrap;
    margin: 0; }
    .footer-section .container .row:not(:first-child) > .col-12 {
      display: inline-block;
      -webkit-box-flex: unset;
      -ms-flex: unset;
      flex: unset;
      position: static;
      width: unset;
      margin: 0;
      padding: 0;
      max-width: unset;
      vertical-align: top; }
      .footer-section .container .row:not(:first-child) > .col-12 p {
        display: inline-block;
        line-height: 24px;
        vertical-align: top; }
      .footer-section .container .row:not(:first-child) > .col-12 a {
        line-height: 24px;
        display: inline-block;
        vertical-align: top; }
    .footer-section .container .row:not(:first-child) .footer-credits {
      position: relative; }
    .footer-section .container .row:not(:first-child) .footer-credits:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #00031D;
      z-index: 1;
      mix-blend-mode: color; }
    .footer-section .container .row:not(:first-child) .payment-icon {
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      opacity: .5;
      vertical-align: top;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      margin-left: 8px; }
      .footer-section .container .row:not(:first-child) .payment-icon:nth-of-type(2) {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
        margin-left: 0; }
  .footer-section .container .footer-copyright,
  .footer-section .container .footer-dmca {
    line-height: 24px; }
  .footer-section .container .row:not(:first-child):not(:last-child) {
    padding-top: 56px; }
    .footer-section .container .row:not(:first-child):not(:last-child) > .col-12:first-child {
      display: block;
      position: absolute;
      width: 100%;
      left: 0;
      margin-top: -32px;
      text-align: center; }
  .footer-section .container .footer-item {
    text-align: center;
    width: 100%;
    -webkit-box-flex: unset;
    -ms-flex: unset;
    flex: unset;
    max-width: unset; }
    .footer-section .container .footer-item:not(:last-child) {
      margin-bottom: 32px; }
    .footer-section .container .footer-item .site-footer__header {
      color: #435679;
      margin-bottom: 16px; }
    .footer-section .container .footer-item .footer_link,
    .footer-section .container .footer-item .toggle_content,
    .footer-section .container .footer-item .toggle_content a {
      font-size: 10px;
      color: #8D9DBB; }
    .footer-section .container .footer-item ul.list-style-none {
      margin-bottom: 0; }
    .footer-section .container .footer-item .footer_link {
      display: inline-block;
      padding: 0 12px;
      text-transform: uppercase;
      margin-bottom: 0; }
    .footer-section .container .footer-item:nth-of-type(2) {
      display: none; }

.section.featured-collection .flex-wrap.w-100 {
  padding: 0 11px; }

.section.featured-collection .col-wrap.col-6.col-lg-4,
.section.featured-collection .col-wrap.col-6.col-lg-3 {
  padding: 5px; }

.section.featured-collection .collection-detail__product-image {
  margin-bottom: 8px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-box-shadow: 0 0 #49D8F3;
  box-shadow: 0 0 #49D8F3; }
  .section.featured-collection .collection-detail__product-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 0 0 0 1px #49D8F3, 0 0 6px #0035e3, inset 0 0 6px #0035e3;
    box-shadow: inset 0 0 0 1px #49D8F3, 0 0 6px #0035e3, inset 0 0 6px #0035e3;
    -webkit-transition: 0.75s all cubic-bezier(0.21, 0.17, 0.18, 1);
    -o-transition: 0.75s all cubic-bezier(0.21, 0.17, 0.18, 1);
    transition: 0.75s all cubic-bezier(0.21, 0.17, 0.18, 1);
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0; }
  .section.featured-collection .collection-detail__product-image .image-wrap {
    padding-top: 100%;
    background-color: #98d7da; }
    .section.featured-collection .collection-detail__product-image .image-wrap::before {
      display: none; }

.section.featured-collection .collection-product-wrap:hover .collection-detail__product-image:before,
.section.featured-collection .collection-product-wrap:hover .collection-detail__product-details .title {
  opacity: 1;
  -webkit-transition: 0s all cubic-bezier(0.21, 0.17, 0.18, 1);
  -o-transition: 0s all cubic-bezier(0.21, 0.17, 0.18, 1);
  transition: 0s all cubic-bezier(0.21, 0.17, 0.18, 1);
  color: #49D8F3; }

.section.featured-collection .collection-detail__product-details .title {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  font-family: Lexend Zetta,sans-serif;
  -webkit-transition: 0.75s all cubic-bezier(0.21, 0.17, 0.18, 1);
  -o-transition: 0.75s all cubic-bezier(0.21, 0.17, 0.18, 1);
  transition: 0.75s all cubic-bezier(0.21, 0.17, 0.18, 1); }

.section.featured-collection .collection-detail__product-details .price {
  font-size: 10px;
  line-height: 12px;
  margin-top: 4px; }

.section.featured-collection .collection-detail__product-details .price span:first-child:last-child,
.section.featured-collection .collection-detail__product-details .price span:first-child:not(:last-child) {
  color: #ebf4ff;
  opacity: .6; }

.section.featured-collection .collection-detail__product-details .price span:last-child:not(:first-child) {
  opacity: 0.3;
  font-weight: normal; }

.section.slideshow-section[data-id="homepage_slideshow"] {
  opacity: 0;
  -webkit-transition: 0.325s all ease;
  -o-transition: 0.325s all ease;
  transition: 0.325s all ease; }
  .section.slideshow-section[data-id="homepage_slideshow"].mutated {
    opacity: 1;
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s; }

[data-id="homepage_slideshow"] .VueCarousel .VueCarousel-inner {
  height: calc(100vw / 21 * 10) !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
  -webkit-transition: 0s all cubic-bezier(0.59, 0.14, 0.18, 1) !important;
  -o-transition: 0s all cubic-bezier(0.59, 0.14, 0.18, 1) !important;
  transition: 0s all cubic-bezier(0.59, 0.14, 0.18, 1) !important;
  will-change: transform;
  position: static; }
  [data-id="homepage_slideshow"] .VueCarousel .VueCarousel-inner .slideshow-section__caption,
  [data-id="homepage_slideshow"] .VueCarousel .VueCarousel-inner .slideshow-section__caption .content {
    display: none;
    position: static; }
  [data-id="homepage_slideshow"] .VueCarousel .VueCarousel-inner .VueCarousel-slide {
    opacity: 1;
    top: 0;
    left: 0;
    position: absolute; }
    [data-id="homepage_slideshow"] .VueCarousel .VueCarousel-inner .VueCarousel-slide.VueCarousel-slide-active {
      opacity: 1; }
  [data-id="homepage_slideshow"] .VueCarousel .VueCarousel-inner .slideshow-section__background {
    height: calc(100vw / 21 * 10) !important; }
  [data-id="homepage_slideshow"] .VueCarousel .VueCarousel-inner .slideshow-section__background img:nth-of-type(2),
  [data-id="homepage_slideshow"] .VueCarousel .VueCarousel-inner .slideshow-section__background img:nth-of-type(3) {
    display: none; }

.slideshow-section[data-id="homepage_slideshow"] .VueCarousel-pagination .VueCarousel-dot {
  width: 6px !important;
  height: 6px !important;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3) !important;
  margin: 12px 1px; }
  .slideshow-section[data-id="homepage_slideshow"] .VueCarousel-pagination .VueCarousel-dot::before {
    display: none; }
  .slideshow-section[data-id="homepage_slideshow"] .VueCarousel-pagination .VueCarousel-dot.VueCarousel-dot--active {
    background-color: #49D8F3 !important; }

[data-id="product_page"] #detail-contents {
  color: #435679; }
  [data-id="product_page"] #detail-contents .product__name {
    font-size: 12px;
    margin-bottom: 16px; }
  [data-id="product_page"] #detail-contents .product__price {
    position: relative;
    margin-bottom: 32px; }
    [data-id="product_page"] #detail-contents .product__price .product__price-span {
      color: #49D8F3; }
    [data-id="product_page"] #detail-contents .product__price .product__price-original {
      font-size: 16px;
      margin-bottom: -6px;
      opacity: .3; }
      [data-id="product_page"] #detail-contents .product__price .product__price-original::after {
        content: "";
        display: block;
        width: 100%; }
    [data-id="product_page"] #detail-contents .product__price .product__price-sale-msg {
      font-size: 11px;
      text-transform: uppercase;
      position: absolute;
      left: 0;
      top: 100%;
      border-radius: 0;
      padding: 1px 6px;
      letter-spacing: 1.2px;
      margin-top: 2px;
      margin-left: 2px; }
  [data-id="product_page"] #detail-contents .product__size-guide {
    position: absolute;
    right: 16px;
    color: #8D9DBB;
    font-size: 12px; }
    [data-id="product_page"] #detail-contents .product__size-guide:hover {
      text-decoration: underline; }
  [data-id="product_page"] #detail-contents label,
  [data-id="product_page"] #detail-contents .label-link {
    font-size: 12px; }
    [data-id="product_page"] #detail-contents label span,
    [data-id="product_page"] #detail-contents .label-link span {
      margin-left: -6px; }
  [data-id="product_page"] #detail-contents .product__summary {
    border-top: 1px solid rgba(67, 86, 121, 0.2);
    margin-top: 16px;
    font-family: Lexend Zetta,sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.5px; }
    [data-id="product_page"] #detail-contents .product__summary .label-link:nth-of-type(2) {
      display: none; }
  [data-id="product_page"] #detail-contents .product__share .product__divider {
    margin-top: -4px; }
  [data-id="product_page"] #detail-contents .product__divider {
    background-color: transparent; }
  [data-id="product_page"] #detail-contents .product__cart-form .btn {
    color: #00031D;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    height: 50px;
    font-size: 16px; }
  [data-id="product_page"] #detail-contents .product_collapse .toggle_content {
    font-size: 12px;
    color: #8D9DBB; }
  [data-id="product_page"] #detail-contents .button-quantity {
    background-color: #435679; }
    [data-id="product_page"] #detail-contents .button-quantity .button-quantity__layout-horizontal,
    [data-id="product_page"] #detail-contents .button-quantity .button-quantity__layout-horizontal__control__increase,
    [data-id="product_page"] #detail-contents .button-quantity input {
      border-color: #8D9DBB;
      color: #8D9DBB; }
    [data-id="product_page"] #detail-contents .button-quantity input {
      background-color: transparent;
      color: white;
      font-weight: bold; }
    [data-id="product_page"] #detail-contents .button-quantity .button-quantity__layout-horizontal__control__increase:hover,
    [data-id="product_page"] #detail-contents .button-quantity .button-quantity__layout-horizontal__control__decrease:hover {
      background-color: #8D9DBB;
      color: white; }
  [data-id="product_page"] #detail-contents .product__trust-badge {
    margin-top: 0; }
    [data-id="product_page"] #detail-contents .product__trust-badge .product__divider {
      display: none; }
  [data-id="product_page"] #detail-contents .product__form.product__form-inline {
    margin-bottom: 24px; }
  [data-id="product_page"] #detail-contents .product__description .toggle_heading {
    color: #8D9DBB !important;
    font-weight: bold;
    font-size: 12px;
    font-family: Lexend Zetta,sans-serif;
    letter-spacing: -0.5px; }
  [data-id="product_page"] #detail-contents .product__description .triangle {
    border-color: #435679 transparent transparent transparent; }
  [data-id="product_page"] #detail-contents .product__description .product__divider {
    margin-top: 24px; }
  [data-id="product_page"] #detail-contents .product__description .product_collapse {
    border-bottom: none;
    border-top: 1px solid rgba(67, 86, 121, 0.2); }
    [data-id="product_page"] #detail-contents .product__description .product_collapse:nth-of-type(2) {
      border: none; }
  [data-id="product_page"] #detail-contents .product__description-html ul {
    padding-left: 16px;
    margin-bottom: 0; }

.breadcrumb_text {
  display: none; }

.cart-drawer .cart-drawer-container,
.inside-modal__body {
  background-color: #0d132f; }

.app-upsell .upsell-quantity {
  -webkit-animation: going_in 0.5s cubic-bezier(0.76, 0.05, 0.2, 1) forwards;
  animation: going_in 0.5s cubic-bezier(0.76, 0.05, 0.2, 1) forwards; }

@-webkit-keyframes going_in {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(1.05);
    transform: translate3d(0, 0, 0) scale(1.05);
    opacity: 0; }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1; } }

@keyframes going_in {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(1.05);
    transform: translate3d(0, 0, 0) scale(1.05);
    opacity: 0; }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1; } }

.upsell-quantity .upsell-quantity__title {
  color: #435679;
  font-family: Lexend Zetta, sans-serif;
  font-weight: normal;
  letter-spacing: -3.5px;
  margin-left: -3px; }

.upsell-quantity .upsell-quantity__discount {
  background-color: transparent; }
  .upsell-quantity .upsell-quantity__discount-text {
    color: #8D9DBB; }
  .upsell-quantity .upsell-quantity__discount-subtext {
    color: #435679; }

.upsell-quantity .upsell-quantity__discount.app-flex:hover .upsell-quantity__discount-text {
  color: #49D8F3; }

.upsell-quantity .upsell-quantity__discount.app-flex {
  border: 1px solid #435679; }
  .upsell-quantity .upsell-quantity__discount.app-flex:hover {
    background-color: rgba(67, 86, 121, 0.2); }
  .upsell-quantity .upsell-quantity__discount.app-flex:not(:last-child) {
    margin-bottom: -1px; }

.upsell-quantity .upsell-quantity__add-cart {
  text-transform: uppercase;
  min-width: 104px;
  border-radius: 0;
  -webkit-transition: none;
  -o-transition: none;
  transition: none; }
  .upsell-quantity .upsell-quantity__add-cart:hover {
    background-color: #49D8F3; }
  .upsell-quantity .upsell-quantity__add-cart:hover span {
    color: #00031D; }
  .upsell-quantity .upsell-quantity__add-cart[disabled="disabled"] {
    font-size: 12px;
    font-family: Lexend Zetta, sans-serif;
    height: 32px;
    letter-spacing: -1px;
    background-color: rgba(67, 86, 121, 0.4);
    color: #435679;
    pointer-events: none; }
    .upsell-quantity .upsell-quantity__add-cart[disabled="disabled"] > *[class*="-icon-"] {
      margin-right: 4px; }
    .upsell-quantity .upsell-quantity__add-cart[disabled="disabled"] svg {
      vertical-align: top;
      margin-top: 2px; }
    .upsell-quantity .upsell-quantity__add-cart[disabled="disabled"] svg path,
    .upsell-quantity .upsell-quantity__add-cart[disabled="disabled"] svg polygon {
      fill: #435679; }

.copt-countdown .copt-countdown-timer .copt-countdown-timer__block {
  color: #F20D2B;
  text-transform: uppercase; }
  .copt-countdown .copt-countdown-timer .copt-countdown-timer__block path {
    fill: #F20D2B; }
  .copt-countdown .copt-countdown-timer .copt-countdown-timer__block .copt-countdown-timer__message {
    font-weight: normal; }

.product__share .social-sharing > a {
  background-color: transparent;
  border: none;
  -webkit-box-shadow: inset 0 0 0 1px rgba(67, 86, 121, 0.8);
  box-shadow: inset 0 0 0 1px rgba(67, 86, 121, 0.8);
  border-radius: 0;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  margin-right: -1px;
  font-size: 12px; }
  .product__share .social-sharing > a path, .product__share .social-sharing > a span {
    fill: #435679;
    color: #435679;
    text-transform: uppercase;
    font-weight: bold; }
  .product__share .social-sharing > a svg {
    width: 12px;
    height: 12px; }
  .product__share .social-sharing > a:hover {
    z-index: 1;
    -webkit-box-shadow: inset 0 0 0 1px rgba(67, 86, 121, 0);
    box-shadow: inset 0 0 0 1px rgba(67, 86, 121, 0); }
    .product__share .social-sharing > a:hover path, .product__share .social-sharing > a:hover span {
      fill: white;
      color: white; }

.cart-drawer .cart-drawar-header {
  padding: 12px 16px;
  margin: 0 -16px;
  border-bottom: 1px solid rgba(67, 86, 121, 0.2);
  margin-bottom: 16px; }
  .cart-drawer .cart-drawar-header h5 {
    font-size: 16px;
    color: #8D9DBB;
    letter-spacing: -0.5px; }

.cart-drawer .cart-drawer-container .cart-drawer-wrapper {
  height: calc(100% - 61px); }

.cart-drawer .cart-drawer-icon-close {
  top: 5px;
  right: 5px; }
  .cart-drawer .cart-drawer-icon-close:before, .cart-drawer .cart-drawer-icon-close:after {
    background-color: #435679; }

.cart-drawer .cart-drawer-container {
  padding-top: 0; }
  .cart-drawer .cart-drawer-container .product-cart__image img {
    background-color: #98d7da; }
  .cart-drawer .cart-drawer-container .product-cart__name {
    line-height: 14px;
    margin-bottom: 4px;
    height: 28px; }
  .cart-drawer .cart-drawer-container .product-cart__name a {
    font-size: 11px;
    font-family: Lexend Zetta, sans-serif;
    text-transform: uppercase;
    color: #8D9DBB;
    line-height: 14px; }
  .cart-drawer .cart-drawer-container .product-cart__price {
    letter-spacing: -0.5px;
    margin-bottom: 6px;
    font-size: 14px; }
    .cart-drawer .cart-drawer-container .product-cart__price + .mb12 {
      display: none; }
    .cart-drawer .cart-drawer-container .product-cart__price--original {
      font-size: 10px;
      color: #435679; }
  .cart-drawer .cart-drawer-container .product-cart__action label {
    font-size: 11px;
    text-transform: uppercase;
    line-height: 12px;
    margin-bottom: 4px;
    color: #435679; }
  .cart-drawer .cart-drawer-container .product-cart__action .button-quantity .button-quantity__layout-vertical {
    border-color: #435679; }
  .cart-drawer .cart-drawer-container .product-cart__action .button-quantity .button-quantity__layout-vertical > * {
    height: 20px;
    width: 20px;
    border-color: #435679;
    color: #8D9DBB; }
  .cart-drawer .cart-drawer-container .product-cart__action .button-quantity .button-quantity__layout-vertical > input {
    width: 30px;
    background-color: transparent;
    color: white;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    line-height: 20px; }
  .cart-drawer .cart-drawer-container .product-cart__action .product-cart__remove {
    text-transform: uppercase;
    font-size: 11px;
    display: inline-block;
    margin-bottom: 0;
    line-height: 20px;
    margin-left: 6px;
    padding: 0 6px;
    color: #8D9DBB; }

.cart-drawer .cart-drawer-container .cart-drawer-footer {
  background-color: transparent;
  border-color: rgba(67, 86, 121, 0.2);
  padding: 16px 0;
  padding-bottom: 0;
  -webkit-animation: going_in 0.325s ease forwards;
  animation: going_in 0.325s ease forwards;
  -webkit-animation-delay: 0.325s;
  animation-delay: 0.325s;
  opacity: 0; }
  .cart-drawer .cart-drawer-container .cart-drawer-footer p {
    font-size: 10px;
    color: #435679; }
  .cart-drawer .cart-drawer-container .cart-drawer-footer .discount-line {
    line-height: 16px; }
    .cart-drawer .cart-drawer-container .cart-drawer-footer .discount-line svg {
      height: 12px;
      width: 12px;
      vertical-align: top;
      margin-top: 3px; }
    .cart-drawer .cart-drawer-container .cart-drawer-footer .discount-line path {
      fill: #435679; }
  .cart-drawer .cart-drawer-container .cart-drawer-footer .mini-total-line .h6 {
    font-size: 14px;
    color: #8D9DBB;
    line-height: 18px; }
  .cart-drawer .cart-drawer-container .cart-drawer-footer .mini-total-line .h6.mini-total-line__price {
    color: #49D8F3;
    font-size: 15px; }
  .cart-drawer .cart-drawer-container .cart-drawer-footer .btn.btn-primary:not(.disabled):not([disabled]) {
    background-color: #49D8F3;
    color: #00031D;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-transition-duration: 0.125s;
    -o-transition-duration: 0.125s;
    transition-duration: 0.125s; }
    .cart-drawer .cart-drawer-container .cart-drawer-footer .btn.btn-primary:not(.disabled):not([disabled]):hover {
      -webkit-transform: translate3d(0, -4px, 0) scale(1.04);
      transform: translate3d(0, -4px, 0) scale(1.04); }
    .cart-drawer .cart-drawer-container .cart-drawer-footer .btn.btn-primary:not(.disabled):not([disabled]) svg {
      width: 20px;
      height: 20px;
      vertical-align: top;
      margin-top: 3px; }
      .cart-drawer .cart-drawer-container .cart-drawer-footer .btn.btn-primary:not(.disabled):not([disabled]) svg path {
        fill: rgba(0, 3, 29, 0.8); }

.default-layout.stickies {
  padding-bottom: 32px; }

.upsell-product-widget .upsell-product-widget__carousel .upsell-product-widget__heading {
  color: #435679;
  text-transform: uppercase;
  font-size: 14px; }
  .upsell-product-widget .upsell-product-widget__carousel .upsell-product-widget__heading a {
    color: #8D9DBB; }

@media (min-width: 1024px) {
  .upsell-product-widget .upsell-product-widget__carousel .upsell-product-widget__heading {
    font-size: 24px; }
  .default-layout.stickies {
    padding-bottom: 87px; }
  .header.nav-inline-logo--true .container-fluid {
    padding-left: 40px;
    padding-right: 40px; }
    .header.nav-inline-logo--true .container-fluid a {
      -webkit-transition: none;
      -o-transition: none;
      transition: none; }
  .nav .site-nav {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600; }
    .nav .site-nav a:hover {
      text-shadow: 1px 1px #00031D; }
  .nav.flex {
    position: static; }
    .nav.flex::before {
      content: "";
      position: absolute;
      width: 100%;
      width: calc(100% + 80px);
      background-color: rgba(0, 3, 29, 0.98);
      left: -40px;
      height: 320px;
      will-change: height;
      -webkit-transition: all ease 0.2s;
      -o-transition: all ease 0.2s;
      transition: all ease 0.2s;
      -webkit-transform: translate3d(0, -10%, 0);
      transform: translate3d(0, -10%, 0);
      opacity: 0;
      pointer-events: none;
      border-bottom: 1px solid #49D8F3; }
    .nav.flex a.site-nav__link {
      pointer-events: all;
      font-family: Lexend Zetta,sans-serif;
      font-size: 10px;
      letter-spacing: -0.5px; }
    .nav.flex a.site-nav__link:not(:hover) {
      color: rgba(255, 255, 255, 0.8); }
    .nav.flex .site-nav > .site-nav__item:hover a.site-nav__link {
      color: #49D8F3;
      text-shadow: 1px 1px #00031D; }
  .header-section.show_mega .nav.flex::before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; }
  .header .site-nav__dropdown {
    background-color: transparent;
    border-top: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .header .site-nav__dropdown a.site-nav__dropdown-link {
      padding: 0;
      font-size: 10px;
      text-transform: uppercase;
      font-weight: normal;
      display: inline-block;
      position: relative;
      vertical-align: top;
      text-shadow: none; }
      .header .site-nav__dropdown a.site-nav__dropdown-link:hover {
        background-color: transparent; }
      .header .site-nav__dropdown a.site-nav__dropdown-link::before {
        content: attr(data-dropdown-rel);
        color: #00031D;
        z-index: 1;
        position: absolute;
        background-color: #49D8F3;
        -webkit-transition: width ease 0.2s;
        -o-transition: width ease 0.2s;
        transition: width ease 0.2s;
        width: 0;
        overflow: hidden;
        right: 0; }
      .header .site-nav__dropdown a.site-nav__dropdown-link:hover::before {
        text-shadow: none;
        width: 100%;
        left: 0;
        right: auto; }
  [data-id="homepage_slideshow"] .VueCarousel .VueCarousel-inner .slideshow-section__background img {
    -webkit-transition: 0.75s width cubic-bezier(0.59, 0.14, 0.18, 1) !important;
    -o-transition: 0.75s width cubic-bezier(0.59, 0.14, 0.18, 1) !important;
    transition: 0.75s width cubic-bezier(0.59, 0.14, 0.18, 1) !important;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    will-change: width; }
  [data-id="homepage_slideshow"] .VueCarousel .VueCarousel-inner .slideshow-section__background .sub_wrap-1,
  [data-id="homepage_slideshow"] .VueCarousel .VueCarousel-inner .slideshow-section__background .sub_wrap-2,
  [data-id="homepage_slideshow"] .VueCarousel .VueCarousel-inner .slideshow-section__background .sub_wrap-3 {
    -webkit-transition: 0.75s width cubic-bezier(0.59, 0.14, 0.18, 1) !important;
    -o-transition: 0.75s width cubic-bezier(0.59, 0.14, 0.18, 1) !important;
    transition: 0.75s width cubic-bezier(0.59, 0.14, 0.18, 1) !important;
    background-color: transparent;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    will-change: width; }
    [data-id="homepage_slideshow"] .VueCarousel .VueCarousel-inner .slideshow-section__background .sub_wrap-1 img,
    [data-id="homepage_slideshow"] .VueCarousel .VueCarousel-inner .slideshow-section__background .sub_wrap-2 img,
    [data-id="homepage_slideshow"] .VueCarousel .VueCarousel-inner .slideshow-section__background .sub_wrap-3 img {
      width: 100%;
      height: 100%;
      -o-object-position: center;
      object-position: center;
      -o-object-fit: cover;
      object-fit: cover; }
  [data-id="homepage_slideshow"] .VueCarousel .VueCarousel-inner .slideshow-section__background .sub_wrap-2 img {
    -o-object-position: left center;
    object-position: left center; }
  [data-id="homepage_slideshow"] .VueCarousel .VueCarousel-inner .slideshow-section__background .sub_wrap-3 img {
    -o-object-position: right center;
    object-position: right center; }
  [data-id="homepage_slideshow"] .VueCarousel .VueCarousel-inner .slideshow-section__background .sub_wrap-1 {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    right: 26%;
    display: block; }
  [data-id="homepage_slideshow"] .VueCarousel .VueCarousel-inner .slideshow-section__background .sub_wrap-2,
  [data-id="homepage_slideshow"] .VueCarousel .VueCarousel-inner .slideshow-section__background .sub_wrap-3 {
    width: 0;
    height: 90%;
    position: absolute;
    top: 5%;
    right: 77%;
    display: block; }
  [data-id="homepage_slideshow"] .VueCarousel .VueCarousel-inner .slideshow-section__background .sub_wrap-3 {
    -o-object-position: right center;
    object-position: right center;
    right: 0; }
  [data-id="homepage_slideshow"] .VueCarousel .VueCarousel-inner .VueCarousel-slide.VueCarousel-slide-active .slideshow-section__background .sub_wrap-1 {
    width: 48%;
    left: 26%;
    right: auto; }
  [data-id="homepage_slideshow"] .VueCarousel .VueCarousel-inner .VueCarousel-slide.VueCarousel-slide-active .slideshow-section__background .sub_wrap-2,
  [data-id="homepage_slideshow"] .VueCarousel .VueCarousel-inner .VueCarousel-slide.VueCarousel-slide-active .slideshow-section__background .sub_wrap-3 {
    width: 23%;
    right: auto;
    left: 0; }
  [data-id="homepage_slideshow"] .VueCarousel .VueCarousel-inner .VueCarousel-slide.VueCarousel-slide-active .slideshow-section__background .sub_wrap-3 {
    left: 77%; }
  .product-slider .VueCarousel-inner {
    height: unset !important;
    display: block !important; }
    .product-slider .VueCarousel-inner .product-slide-image {
      margin-bottom: 20px; }
  .product-slider .thumbnail-carousel {
    display: none; }
  .product-slider .media-gallery-carousel__zoom {
    display: none !important;
    pointer-events: none; }
  .sticky-button#sticky-bar {
    background-color: #0d132f;
    padding: 16px 0;
    z-index: 999; }
    .sticky-button#sticky-bar .product-action label {
      color: #8D9DBB; }
    .sticky-button#sticky-bar .product-action .btn.btn-primary {
      color: #00031D;
      -webkit-transition: none;
      -o-transition: none;
      transition: none;
      margin-left: 8px; }
      .sticky-button#sticky-bar .product-action .btn.btn-primary:hover {
        background-color: #79e2f6; }
    .sticky-button#sticky-bar .product-action .button-quantity {
      background-color: #435679; }
    .sticky-button#sticky-bar .product-action .button-quantity__layout-vertical {
      height: 32px;
      border-color: #8D9DBB; }
      .sticky-button#sticky-bar .product-action .button-quantity__layout-vertical__decrease, .sticky-button#sticky-bar .product-action .button-quantity__layout-vertical__increase {
        border-color: #8D9DBB;
        height: 32px;
        margin-top: -1px; }
    .sticky-button#sticky-bar .product-action input[type="number"] {
      color: white;
      background-color: transparent; }
    .sticky-button#sticky-bar .product-detail__image {
      width: 48px; }
    .sticky-button#sticky-bar .product-detail .aspect-ratio-img {
      width: 48px;
      padding-bottom: 48px; }
    .sticky-button#sticky-bar .product-detail .aspect-ratio-img img {
      background-color: #98d7da; }
    .sticky-button#sticky-bar .product-detail__content {
      height: 48px; }
    .sticky-button#sticky-bar .product-detail__name {
      font-family: Lexend Zetta, sans-serif;
      margin-bottom: 0;
      font-size: 12px;
      line-height: 14px;
      height: 28px;
      display: block; }
    .sticky-button#sticky-bar .product-detail__name + div {
      white-space: nowrap; }
    .sticky-button#sticky-bar .product-detail__price {
      font-family: Lexend Zetta, sans-serif;
      font-weight: normal;
      color: #49D8F3;
      letter-spacing: -0.75px;
      line-height: 20px; }
    .sticky-button#sticky-bar .product-detail__price.price-original {
      font-size: 16px;
      color: rgba(235, 244, 255, 0.3);
      display: inline-block;
      margin-left: -16px; } }

body > span[style^='border-radius: 10px !important; text-indent: 12px !important; width: auto !important; height: 20px !important; padding: 0px 8px !important; text-align: center !important; vertical-align: middle !important; font: bold 11px / 20px "Helvetica Neue", Helvetica, sans-serif !important; color: rgb(255, 255, 255) !important;'],
body > span[style^='border-radius: 12px; width: 24px !important; height: 24px !important; background: url("data:image/svg+xml;base64,PHN2ZyBpZD0ic291cmNlIiB3aWR0aD0iMjIiIGhlaWdodD0iMj'] {
  display: none !important; }
