$color-pink: #ff2bdf
$color-dark: #00031D
$color-blue: #0035e3
$color-mereblue: #434979

.header.nav-inline-logo--true
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 999
  background-color: transparent
  // background-image: linear-gradient(0deg, rgba(0,1,11,0) 0%, rgba(0,1,11,0.562062324929972) 100%)
  border-bottom: none

  .logo
    max-width: 272px

  .logo img
    max-height: 90px
    height: 90px

.header-section .cart-container svg
  g, path
    fill: rgba(white, .8)

.section .container .row h2.h4
  color: $color-mereblue

.section.featured-collection
  .flex-wrap.w-100
    padding: 0 11px
  .col-wrap.col-6.col-lg-4,
  .col-wrap.col-6.col-lg-3
    padding: 5px
  .collection-detail__product-image
    margin-bottom: 8px
    transform: translate3d(0,0,0)
    box-shadow: 0 0 $color-pink
    &::before
      content: ""
      position: absolute
      width: 100%
      height: 100%
      box-shadow: inset 0 0 0 1px $color-pink, 0 0 6px $color-blue, inset 0 0 6px $color-blue
      transition: 0.75s all cubic-bezier(.21,.17,.18,1)
      top: 0
      left: 0
      z-index: 1
      opacity: 0
    .image-wrap
      padding-top: 125%
      filter: invert(0.9)
      &::before
        display: none

  .collection-product-wrap:hover
    .collection-detail__product-image:before,
    .collection-detail__product-details .title
      opacity: 1
      transition: 0.0s all cubic-bezier(.21,.17,.18,1)
      color: $color-pink

  .collection-detail__product-details
    .title
      text-transform: uppercase
      font-size: 12px
      line-height: 16px
      font-family: Lexend Zetta,sans-serif
      transition: 0.75s all cubic-bezier(.21,.17,.18,1)
    .price
      font-size: 10px
      line-height: 12px
      margin-top: 4px
    .price span:first-child:last-child,
    .price span:first-child:not(:last-child)
      color: #ebf4ff
      opacity: .6
    .price span:last-child:not(:first-child)
      opacity: 0.3
      font-weight: normal

.VueCarousel .VueCarousel-inner
  height: calc(100vw / 21 * 10) !important
  // transform: none !important
  transition: 1s all cubic-bezier(.59,.14,.18,1) !important
  // will-change: transform
  position: static

  .slideshow-section__background
    height: calc(100vw / 21 * 10) !important

  .slideshow-section__caption,
  .slideshow-section__caption .content
    display: none
    position: static

  .VueCarousel-slide
    position: static

  .VueCarousel-slidex
    opacity: 0
    &.VueCarousel-slide-active
      opacity: 1

@media (min-width: 1024px)
  .header.nav-inline-logo--true .container-fluid
    padding-left: 40px
    padding-right: 40px

    a
      transition: none

  .nav .site-nav
    font-size: 12px
    text-transform: uppercase
    font-weight: 600

    a:hover
      text-shadow: 1px 1px $color-dark

  .nav.flex
    position: static
    // pointer-events: none

    &::before
      content: ""
      position: absolute
      width: 100%
      width: calc(100% + 80px)
      background-color: rgba($color-dark,.6)
      left: -40px
      backdrop-filter: blur(20px)
      // height: 0
      height: 420px
      will-change: height
      transition: all ease 0.2s
      transform: translate3d(0,-10%,0)
      opacity: 0
      pointer-events: none
      // transition-delay: 1s
      // opacity: 0

    &:hover::before
      height: 420px
      transform: translate3d(0,0,0)
      // transition-delay: 0s
      opacity: 1

    a.site-nav__link
      pointer-events: all

    a.site-nav__link:not(:hover)
      color: rgba(white, 0.8)

    .site-nav > .site-nav__item:hover a.site-nav__link
      color: $color-pink

  .header .site-nav__dropdown
    background-color: transparent
    box-shadow: none

    a.site-nav__dropdown-link
      padding: 4px 0
      text-transform: uppercase
      font-weight: normal
      &:hover
        background-color: transparent


body > span[style^='border-radius: 10px !important; text-indent: 12px !important; width: auto !important; height: 20px !important; padding: 0px 8px !important; text-align: center !important; vertical-align: middle !important; font: bold 11px / 20px "Helvetica Neue", Helvetica, sans-serif !important; color: rgb(255, 255, 255) !important;'],
body > span[style^='border-radius: 12px; width: 24px !important; height: 24px !important; background: url("data:image/svg+xml;base64,PHN2ZyBpZD0ic291cmNlIiB3aWR0aD0iMjIiIGhlaWdodD0iMj']
  display: none !important