/* Placeholder Color */
::-webkit-input-placeholder {
  opacity: 1;
  color: #444444; }

::-moz-placeholder {
  opacity: 1;
  color: #444444; }

::-ms-input-placeholder {
  opacity: 1;
  color: #444444; }

::-moz-placeholder {
  opacity: 1;
  color: #444444; }

body {
  overflow-x: hidden !important; }

.container {
  max-width: 1170px;
  position: relative;
  margin: 0 auto;
  padding: 0 15px; }

.services-hero {
  height: 600px;
  position: relative;
  background: #FFD701;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .services-hero__inner {
    padding: 0 60px; }
  .services-hero__content {
    max-width: 600px; }
  .services-hero__img {
    position: absolute;
    right: 0;
    bottom: 0; }

.services-list {
  padding-top: 50px; }

.services-row {
  position: relative;
  padding-right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px; }
  .services-row--reverse {
    padding-left: 60px;
    padding-right: 0;
    min-height: 690px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 50px;
    padding-top: 100px; }
  .services-row__content {
    width: 40%; }
  .services-row--reverse .services-row__img {
    position: absolute;
    right: 60px;
    top: 0; }

@media (max-width: 767px) {
  .services-hero {
    height: auto;
    padding: 110px 0 0; }
    .services-hero__inner {
      padding: 0 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column; }
    .services-hero__img {
      width: 100%;
      position: relative;
      margin-top: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .services-hero__img img {
        width: 230%; }
    .services-hero__content {
      text-align: center; }
  .services-subtitle {
    font-size: 14px; }
  .services-row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-flow: column !important;
    flex-flow: column !important;
    padding: 30px 0; }
    .services-row__img {
      width: 100%;
      position: relative !important;
      right: auto !important;
      padding: 0 35px; }
      .services-row__img img {
        width: 100%; }
    .services-row__content {
      width: 100%;
      padding: 40px 20px 0;
      text-align: center; }
      .services-row__content .title {
        font-size: 18px;
        margin-bottom: 10px; }
    .services-row__desc {
      font-size: 14px; }
    .services-row--reverse {
      margin-bottom: 0;
      padding-bottom: 0; }
  .about-bottom-section {
    padding-bottom: 100px; }
    .about-bottom-section .title {
      padding: 0 20px; } }
